{% extends "base.html.twig" %}
{% block title %}Book gallery{% endblock %}
{% block body %}
    {{ parent() }}
        <p><a href="{{ path('gallery') }}">Go back to gallery page</a></p>

	<form method="post" action="{{ path("book_create_handler") }}" enctype="multipart/form-data" >
                {% if ((error is defined) and (error=="name")) %}
                    <p style="color:red">Book title is missing!</p>
                {% elseif ((error is defined) and (error=="author")) %}
                    <p style="color:red">Author is missing!</p>
                {% elseif ((error is defined) and (error=="read_at")) %}
                    <p style="color:red">Completion date is wrong or missing!</p>
                {% endif %}
		<p>Book title</p>
		<input id="name" name="name" /><br>
		<p>Author</p>
		<input id="author" name="author" /><br>
		<p>Picture of book cover</p>
		<input id="cover" type="file" name="cover" /><br>
		<p>Book file (leave blank if not available)</p>
		<input id="file" type="file" name="file" /><br>
		<p>Allow file download for unathorized users</p>
		<input id="allowed" type="checkbox" name="allowed" /><br>
		<p>Completion date (leave blank if not available)</p>
		<input id="read_at" type="date" name="read_at" /><br>
		<input id="submit" type="submit" value="Create book" />
	</form>
{% endblock %}
